target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar


blocks/CMC/control/*
!blocks/CMC/control/*.project

blocks/CMC2/control/*
!blocks/CMC2/control/*.project

blocks/CMC-connection/control/*
!blocks/CMC-connection/control/*.project

blocks/CMC2-connection/control/*
!blocks/CMC2-connection/control/*.project

blocks/CMC2-con_individual/control/*
!blocks/CMC-con_individual/control/*.project

.idea/*
*.iml
out/*